<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EmployeeManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex">
        <button type="button" (click)="clickAddEmployee()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
      </div>
      <form class="form-inline ml-4 my-lg-0">
        <input id="name" type="text" [formControl]="search" placeholder="Search Employees">
      </form>
    </div>
  </nav>
  
  <div class="container" id="main-container">
  <br>
      <div class="row">
          <div *ngFor="let emp of employees" class="col-md-6 col-xl-3">
              <div class="card m-b-30">
                  <div class="card-body row">
                      <div class="col-4">
                          <a href=""><img src={{emp.imgUrl}} alt="" class="img-fluid rounded-circle w-60"></a>
                      </div>
                      <div class="col-8 card-title align-self-center mb-0">
                          <h5>{{emp.name}}</h5>
                          <p class="m-0">{{emp.jobTitle}}</p>
                      </div>
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><i class="fa fa-envelope float-right"></i><a href="#">{{emp.email}}</a></li>
                      <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{emp.phone}}</li>
                  </ul>
                  <div class="card-body">
                      <div class="float-right btn-group btn-group-sm">
                          <a href="#" class="btn btn-primary tooltips" (click)="onEdit(emp)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                          <a href="#" class="btn btn-secondary tooltips" (click)="onDelete(emp.id)" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                      </div>
                      <ul class="social-links list-inline mb-0">
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="text" class="form-control" formControlName="phone" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Job Title</label>
                    <input type="text" class="form-control" formControlName="jobTitle" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">IMG url</label>
                    <input type="text" class="form-control" formControlName="imgUrl" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
              </form>

              <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="showAdd" (click)="postEmployee()" type="button" class="btn btn-primary">Add</button>
                <button *ngIf="showUpdate" (click)="updateEmployee()" type="button" class="btn btn-primary">Update</button>
              </div>
        </div>
      </div>
    </div>
      